
<!doctype html>
<!--this is a comment -->

<html>

  <head> 
     <meta charset="utf-8">
     <title>Cats</title>
  </head>
  <body>
     <header>My header</header>
     <nav>
       <a href="/">Home Page</a>
       <a href="/dogs">Dogs</a>
       <a href="/cats">Cats</a>
       <a href="/ninjas">Ninjas</a>
       <a href="/Pirates">Pirates</a>
     </nav>
     <div>
      <img src="http://explosionhub.com/wp-content/uploads/2012/07/small-cat.jpg">
      <img src="http://www.catchannel.com/images/depressed-cat-hiss.jpg">
      <img src="http://www.popkitten.com/wp-content/uploads/2011/12/Depressed-Cat-2.jpg">
      <img src="/images/yogocat.jpg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/Kdgt1ZHkvnM" frameborder="0" allowfullscreen></iframe>
    </div>
     <footer>
       <small> (c)2014 Cats</small>
     </footer>
  </body>
</html>
