<!doctype html>
<!--this is a comment -->

<html>

  <head> 
     <meta charset="utf-8">
     <title>Dogs</title>
  </head>
  <body>
     <header>My header</header>
     <nav>
       <a href="/">Home Page</a>
       <a href="/dogs">Dogs</a>
       <a href="/cats">Cats</a>
       <a href="/ninjas">Ninjas</a>
       <a href="/Pirates">Pirates</a>
     </nav>
     <div>
      <img src="http://www.bbb.org/blog/wp-content/uploads/2011/06/dog.jpg">
      <img src="http://www.101caes.com/images/boxer.jpg?phpMyAdmin=9a12ffc62217d04e8b9639d66ffd8517">
      <img src="http://www.marvistavet.com/assets/images/nasal_vaccine.gif">
      <iframe width="560" height="315" src="//www.youtube.com/embed/hGyZ2ETCTVU" frameborder="0" allowfullscreen></iframe>
     </div>
     <footer>
       <small> (c)2014 Dogs </small>
     </footer>
  </body>
</html>
